<% if favorites.any? %>
  <ul class="list-unstyled">
    <% favorites.each do |favorite| %>
      <li class="media">
        
        <div class="media-body">
          <div>
            <%= favorite.content %>
          </div>
          
            
          
        </div>
      </li>
    <% end %>
  </ul>
  
<% end %>