<% if favorites.any? %>
  <ul class="list-unstyled">
    <% favorites.each do |favorite| %>
      <li class="media">
        
        <div class="media-body">
          <div>
            <%= favorite.content %>
          </div>
           <%= render 'favorites/favorite_button', micropost: favorite %>
            
          
        </div>
      </li>
    <% end %>
    
  </ul>
 
  
<% end %>